<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>bsong</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/views/error/error404.jsp</location>
	</error-page>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>PublicIndexController</servlet-name>
		<servlet-class>controllers.publics.PublicIndexController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicIndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PublicCatController</servlet-name>
		<servlet-class>controllers.publics.PublicCatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicCatController</servlet-name>
		<url-pattern>/cat</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PublicDetailController</servlet-name>
		<servlet-class>controllers.publics.PublicDetailController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicDetailController</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PublicContactController</servlet-name>
		<servlet-class>controllers.publics.PublicContactController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicContactController</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicSearchController</servlet-name>
		<servlet-class>controllers.publics.PublicSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicSearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicSongLikeController</servlet-name>
		<servlet-class>controllers.publics.PublicSongLikeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicSongLikeController</servlet-name>
		<url-pattern>/song/like</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controllers.admin.AdminIndexController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminSearchController</servlet-name>
		<servlet-class>controllers.admin.AdminSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminSearchController</servlet-name>
		<url-pattern>/admin/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIndexCatController</servlet-name>
		<servlet-class>controllers.admin.cat.AdminIndexCatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexCatController</servlet-name>
		<url-pattern>/admin/cat/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controllers.admin.cat.AdminAddCatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/cat/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controllers.admin.cat.AdminEditCatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/cat/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteCatController</servlet-name>
		<servlet-class>controllers.admin.cat.AdminDeleteCatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteCatController</servlet-name>
		<url-pattern>/admin/cat/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIndexSongController</servlet-name>
		<servlet-class>controllers.admin.song.AdminIndexSongController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexSongController</servlet-name>
		<url-pattern>/admin/song/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAddSongController</servlet-name>
		<servlet-class>controllers.admin.song.AdminAddSongController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminAddSongController</servlet-name>
		<url-pattern>/admin/song/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminEditSongController</servlet-name>
		<servlet-class>controllers.admin.song.AdminEditSongController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminEditSongController</servlet-name>
		<url-pattern>/admin/song/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteSongController</servlet-name>
		<servlet-class>controllers.admin.song.AdminDeleteSongController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteSongController</servlet-name>
		<url-pattern>/admin/song/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controllers.admin.user.AdminIndexUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/user/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controllers.admin.user.AdminAddUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/user/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminEditUserController</servlet-name>
		<servlet-class>controllers.admin.user.AdminEditUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminEditUserController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<servlet-class>controllers.admin.user.AdminDeleteUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<url-pattern>/admin/user/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminIndexContactController</servlet-name>
		<servlet-class>controllers.admin.contact.AdminIndexContactController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexContactController</servlet-name>
		<url-pattern>/admin/contact/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteContactController</servlet-name>
		<servlet-class>controllers.admin.contact.AdminDeleteContactController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteContactController</servlet-name>
		<url-pattern>/admin/contact/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminIndexCmtController</servlet-name>
		<servlet-class>controllers.admin.comment.AdminIndexCmtController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexCmtController</servlet-name>
		<url-pattern>/admin/comment/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDeleteCmtController</servlet-name>
		<servlet-class>controllers.admin.comment.AdminDeleteCmtController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteCmtController</servlet-name>
		<url-pattern>/admin/comment/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminChangeStatusCmtController</servlet-name>
		<servlet-class>controllers.admin.comment.AdminChangeStatusCmtController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminChangeStatusCmtController</servlet-name>
		<url-pattern>/admin/comment/status</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminIndexForbiddenWordController</servlet-name>
		<servlet-class>controllers.admin.forbiddenword.AdminIndexForbiddenWordController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminIndexForbiddenWordController</servlet-name>
		<url-pattern>/admin/forbiddenword/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAddWordController</servlet-name>
		<servlet-class>controllers.admin.forbiddenword.AdminAddWordController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminAddWordController</servlet-name>
		<url-pattern>/admin/forbiddenword/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminEditWordController</servlet-name>
		<servlet-class>controllers.admin.forbiddenword.AdminEditWordController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminEditWordController</servlet-name>
		<url-pattern>/admin/forbiddenword/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDeleteWordController</servlet-name>
		<servlet-class>controllers.admin.forbiddenword.AdminDeleteWordController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteWordController</servlet-name>
		<url-pattern>/admin/forbiddenword/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicCommentController</servlet-name>
		<servlet-class>controllers.publics.status.PublicCommentController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicCommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicLikeController</servlet-name>
		<servlet-class>controllers.publics.status.PublicLikeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicLikeController</servlet-name>
		<url-pattern>/like</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controllers.auth.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controllers.auth.LogoutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/auth/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicLoginController</servlet-name>
		<servlet-class>controllers.publics.log.PublicLoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicLoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PublicLogoutController</servlet-name>
		<servlet-class>controllers.publics.log.PublicLogoutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PublicLogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>